In [39]:
import pandas as pd
pd.options.display.max_columns = None

## Gather

In [2]:
postings = pd.read_csv('/home/duoan/work/input/armenian-online-job-postings/online-job-postings.csv')

## Assess

In [40]:
postings.head()

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,Location,JobDescription,JobRequirment,RequiredQual,Salary,ApplicationP,OpeningDate,Deadline,Notes,AboutC,Attach,Year,Month,IT
0,AMERIA Investment Consulting Company\r\nJOB TI...,"Jan 5, 2004",Chief Financial Officer,AMERIA Investment Consulting Company,NaN,NaN,NaN,NaN,NaN,NaN,"Yerevan, Armenia",AMERIA Investment Consulting Company is seekin...,- Supervises financial management and administ...,"To perform this job successfully, an\r\nindivi...",NaN,"To apply for this position, please submit a\r\...",NaN,26 January 2004,NaN,NaN,NaN,2004,1,False
1,International Research & Exchanges Board (IREX...,"Jan 7, 2004",Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),NaN,NaN,NaN,NaN,NaN,3 months,"IREX Armenia Main Office; Yerevan, Armenia \r\...",NaN,NaN,- Bachelor's Degree; Master's is preferred;\r\...,NaN,Please submit a cover letter and resume to:\r\...,NaN,12 January 2004,NaN,The International Research & Exchanges Board (...,NaN,2004,1,False
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,"Jan 7, 2004",Country Coordinator,Caucasus Environmental NGO Network (CENN),NaN,NaN,NaN,NaN,NaN,Renewable annual contract\r\nPOSITION,"Yerevan, Armenia",Public outreach and strengthening of a growing...,- Working with the Country Director to provide...,"- Degree in environmentally related field, or ...",NaN,Please send resume or CV toursula.kazarian@......,NaN,20 January 2004\r\nSTART DATE: February 2004,NaN,The Caucasus Environmental NGO Network is a\r\...,NaN,2004,1,False
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,"Jan 7, 2004",BCC Specialist,Manoff Group,NaN,NaN,NaN,NaN,NaN,NaN,"Manila, Philippines",The LEAD (Local Enhancement and Development fo...,- Identify gaps in knowledge and overseeing in...,"- Advanced degree in public health, social sci...",NaN,Please send cover letter and resume to Amy\r\n...,NaN,23 January 2004\r\nSTART DATE: Immediate,NaN,NaN,NaN,2004,1,False
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,"Jan 10, 2004",Software Developer,Yerevan Brandy Company,NaN,NaN,NaN,NaN,NaN,NaN,"Yerevan, Armenia",NaN,- Rendering technical assistance to Database M...,- University degree; economical background is ...,NaN,Successful candidates should submit\r\n- CV; \...,NaN,"20 January 2004, 18:00",NaN,NaN,NaN,2004,1,True

In [41]:
postings.tail()

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,Location,JobDescription,JobRequirment,RequiredQual,Salary,ApplicationP,OpeningDate,Deadline,Notes,AboutC,Attach,Year,Month,IT
18996,Technolinguistics NGO\r\n\r\n\r\nTITLE: Senio...,"Dec 28, 2015",Senior Creative UX/ UI Designer,Technolinguistics NGO,NaN,Full-time,NaN,NaN,NaN,Long-term,"Yerevan, Armenia",A tech startup of Technolinguistics based in N...,- Work closely with product and business teams...,- At least 5 years of experience in Interface/...,Competitive,"To apply for this position, please send your\r...",29 December 2015,28 January 2016,NaN,As a company Technolinguistics has a mandate t...,NaN,2015,12,False
18997,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Category Development Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",NaN,Full-time,All interested professionals.,NaN,ASAP,Long-term with a probation period of 3 months.,"Yerevan, Armenia",NaN,- Establish and manage Category Management dev...,"- University degree, ideally business related;...",NaN,All interested candidates are kindly requested...,30 December 2015,20 January 2016,NaN,NaN,NaN,2015,12,False
18998,"""Coca-Cola Hellenic Bottling Company Armenia"" ...","Dec 30, 2015",Operational Marketing Manager,"""Coca-Cola Hellenic Bottling Company Armenia"" ...",NaN,Full-time,All interested professionals.,NaN,ASAP,Long-term with a probation period of 3 months.,"Yerevan, Armenia",NaN,"- Develop, establish and maintain marketing st...","- Degree in Business, Marketing or a related f...",NaN,All interested candidates are kindly requested...,30 December 2015,20 January 2016,NaN,NaN,NaN,2015,12,False
18999,San Lazzaro LLC\r\n\r\n\r\nTITLE: Head of O...,"Dec 30, 2015",Head of Online Sales Department,San Lazzaro LLC,NaN,NaN,NaN,NaN,NaN,Long-term,"Yerevan, Armenia",San Lazzaro LLC is looking for a well-experien...,- Handle the project activites of the online s...,- At least 1 year of experience in online sale...,Highly competitive,Interested candidates can send their CVs to:\r...,30 December 2015,29 January 2016,NaN,San Lazzaro LLC works with several internation...,NaN,2015,12,False
19000,"""Kamurj"" UCO CJSC\r\n\r\n\r\nTITLE: Lawyer in...","Dec 30, 2015",Lawyer in Legal Department,"""Kamurj"" UCO CJSC",NaN,Full-time,NaN,NaN,NaN,Indefinite,"Yerevan, Armenia","""Kamurj"" UCO CJSC is looking for a Lawyer in L...",- Properly provide internal legal services of ...,- Higher legal education; Master's degree is a...,NaN,All qualified applicants are encouraged to\r\n...,30 December 2015,20 January 2016,NaN,"""Kamurj"" UCO CJSC is providing micro and small...",NaN,2015,12,False

In [42]:
postings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19001 entries, 0 to 19000
Data columns (total 24 columns):
jobpost             19001 non-null object
date                19001 non-null object
Title               18973 non-null object
Company             18994 non-null object
AnnouncementCode    1208 non-null object
Term                7676 non-null object
Eligibility         4930 non-null object
Audience            640 non-null object
StartDate           9675 non-null object
Duration            10798 non-null object
Location            18969 non-null object
JobDescription      15109 non-null object
JobRequirment       16479 non-null object
RequiredQual        18517 non-null object
Salary              9622 non-null object
ApplicationP        18941 non-null object
OpeningDate         18295 non-null object
Deadline            18936 non-null object
Notes               2211 non-null object
AboutC              12470 non-null object
Attach              1559 non-null object
Year                19001 non-null int64
Month               19001 non-null int64
IT                  19001 non-null bool
dtypes: bool(1), int64(2), object(21)
memory usage: 3.4+ MB

### Missing values

In [43]:
feature_missing_count = postings.isna().sum()
feature_missing_rate = feature_missing_count / len(postings)
feature_missing_rate_rank = feature_missing_rate.rank(method='dense', ascending=False)

df_feature_missing = pd.concat([feature_missing_count,feature_missing_rate, feature_missing_rate_rank], axis=1)
df_feature_missing.columns = ['count', 'rate', 'rank']
df_feature_missing.sort_values('rank')

                  count      rate  rank
Audience          18361  0.966318   1.0
AnnouncementCode  17793  0.936424   2.0
Attach            17442  0.917952   3.0
Notes             16790  0.883638   4.0
Eligibility       14071  0.740540   5.0
Term              11325  0.596021   6.0
Salary             9379  0.493606   7.0
StartDate          9326  0.490816   8.0
Duration           8203  0.431714   9.0
AboutC             6531  0.343719  10.0
JobDescription     3892  0.204831  11.0
JobRequirment      2522  0.132730  12.0
OpeningDate         706  0.037156  13.0
RequiredQual        484  0.025472  14.0
Deadline             65  0.003421  15.0
ApplicationP         60  0.003158  16.0
Location             32  0.001684  17.0
Title                28  0.001474  18.0
Company               7  0.000368  19.0
Year                  0  0.000000  20.0
jobpost               0  0.000000  20.0
date                  0  0.000000  20.0
Month                 0  0.000000  20.0
IT                    0  0.000000  20.0

In [57]:
df_feature_missing[df_feature_missing['rate'] > 0.7].index.tolist() # select missing rate more than 70% features

['AnnouncementCode', 'Eligibility', 'Audience', 'Notes', 'Attach']

In [55]:
df_feature_missing[(df_feature_missing['count']>0) & (df_feature_missing['rate'] <= 0.7)].index.tolist()

['Title',
 'Company',
 'Term',
 'StartDate',
 'Duration',
 'Location',
 'JobDescription',
 'JobRequirment',
 'RequiredQual',
 'Salary',
 'ApplicationP',
 'OpeningDate',
 'Deadline',
 'AboutC']

### Summary

- Fix jobpost \n\n
- Fix parse date
- Fix Title null value
- Fix Company null
- Fix StartDate ASAP
- Fix Duration
- Fix Deadline
- Fill missing values ```
['Title',
 'Company',
 'Term',
 'StartDate',
 'Duration',
 'Location',
 'JobDescription',
 'JobRequirment',
 'RequiredQual',
 'Salary',
 'ApplicationP',
 'OpeningDate',
 'Deadline',
 'AboutC']```
- Drop missing rate more than 70% columns ```['AnnouncementCode', 'Eligibility', 'Audience', 'Notes', 'Attach']```

## Clean

### Issue1

In [58]:
postings['StartDate']

0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN
5                         NaN
6                         NaN
7                         NaN
8                         NaN
9                         NaN
10                        NaN
11                        NaN
12                        NaN
13                        NaN
14                        NaN
15                        NaN
16                        NaN
17                        NaN
18                        NaN
19                        NaN
20                        NaN
21                        NaN
22                        NaN
23                        NaN
24                        NaN
25                        NaN
26                        NaN
27                        NaN
28                        NaN
29                        NaN
                 ...
18971                    ASAP
18972                     NaN
18973                    ASAP
18974                     NaN
18975                     NaN
18976                    ASAP
18977                     NaN
18978        15 February 2015
18979             Immediately
18980                     NaN
18981                    ASAP
18982                    ASAP
18983             Immediately
18984             Immediately
18985                     NaN
18986                     NaN
18987                    ASAP
18988             Immediately
18989    As soon as possible.
18990                     NaN
18991                     NaN
18992                     NaN
18993                    ASAP
18994                    ASAP
18995    As soon as possible.
18996                     NaN
18997                    ASAP
18998                    ASAP
18999                     NaN
19000                     NaN
Name: StartDate, Length: 19001, dtype: object

#### Define
选择起始日期列中含有 "As soon as possible"、"Immediately"等词的所有记录，并将这些内容替换为 "ASAP"

#### Code

In [76]:
postings.loc[postings['StartDate']=='Immediate', 'StartDate'] = 'ASAP'
postings.loc[postings['StartDate']=='Immediately', 'StartDate'] = 'ASAP'
postings.loc[postings['StartDate']=='as soon as possible', 'StartDate'] = 'ASAP'
postings.loc[postings['StartDate']=='As soon as possible.', 'StartDate'] = 'ASAP'

#### Test

In [77]:
postings[~postings['StartDate'].isna()]['StartDate']

185                                  ASAP
187                         27 April 2004
188                           01 May 2004
189                           01 May 2004
199                           10 May 2004
201                           10 May 2004
202                           01 May 2004
209                         1st June 2004
210                                  ASAP
212                         20 April 2004
214                              May 2004
221              Friday, 2004 04 23 18:00
222      This position starts in May 2004
223                       May 17-21, 2004
224                   1st - 3rd June 2004
227                                  ASAP
229                                  ASAP
230                                  ASAP
231                                  ASAP
232                                  ASAP
233                                  ASAP
242                                  ASAP
250                                  ASAP
252                             June 2004
253                                  ASAP
255                     01 September 2004
258                              May 2004
260                          01 June 2004
261                                  ASAP
263                                  ASAP
                       ...
18948                                ASAP
18949                                ASAP
18950                    01 February 2016
18952                     18 January 2016
18954                                ASAP
18959                                ASAP
18960                                ASAP
18961                                ASAP
18962                                ASAP
18963                                ASAP
18965                                ASAP
18968                                ASAP
18970                                ASAP
18971                                ASAP
18973                                ASAP
18976                                ASAP
18978                    15 February 2015
18979                                ASAP
18981                                ASAP
18982                                ASAP
18983                                ASAP
18984                                ASAP
18987                                ASAP
18988                                ASAP
18989                                ASAP
18993                                ASAP
18994                                ASAP
18995                                ASAP
18997                                ASAP
18998                                ASAP
Name: StartDate, Length: 9675, dtype: object

In [78]:
postings[(~postings['StartDate'].isna()) & (postings['StartDate']!='ASAP')]['StartDate']

187                                          27 April 2004
188                                            01 May 2004
189                                            01 May 2004
199                                            10 May 2004
201                                            10 May 2004
202                                            01 May 2004
209                                          1st June 2004
212                                          20 April 2004
214                                               May 2004
221                               Friday, 2004 04 23 18:00
222                       This position starts in May 2004
223                                        May 17-21, 2004
224                                    1st - 3rd June 2004
252                                              June 2004
255                                      01 September 2004
258                                               May 2004
260                                           01 June 2004
270      Between 2004-06-28 12:00 AM and 2004-07-02 12:...
271                                           15 June 2004
280                                     In the near future
281                                     In the near future
282                                     In the near future
283                                     In the near future
285      2nd or 3rd week of June, 2004 (three month\r\n...
294      2nd or 3rd week of June, 2004 (three month\r\n...
295                                            End of June
297                                             July, 2004
305                                       Midst June, 2004
319                                           06 July 2004
320                                           01 July 2004
                               ...
18875                                         January 2016
18876                                         January 2016
18877                                         January 2016
18878                                         January 2016
18879                                         January 2016
18880                                         January 2016
18883                                         January 2016
18886               On/ about 06 March 2015 - 07 June 2016
18887                                      11 January 2016
18888                                      11 January 2016
18894                                      15 January 2016
18895                                     01 February 2016
18900                                      15 January 2016
18901                                         January 2016
18902                                         January 2016
18907                                         January 2016
18908                                     01 February 2015
18916                                     21 December 2015
18917                                     01 February 2016
18918                                     01 February 2016
18919                                      18 January 2016
18926                                     01 February 2016
18932                                         January 2016
18936                                         January 2016
18937                                         January 2016
18943                                     01 February 2016
18945                                      15 January 2016
18950                                     01 February 2016
18952                                      18 January 2016
18978                                     15 February 2015
Name: StartDate, Length: 3311, dtype: object

#### 遗留问题
- 日期需要转换
- In the near future
- This position starts in May 2004
- May 17-21, 2004
- 1st - 3rd June 2004
- On/ about 06 March 2015 - 07 June 2016
- End of June
- Midst June, 2004
- 2nd or 3rd week of June, 2004 (three month\r\n
- Between 2004-06-28 12:00 AM and 2004-07-02 12:...

### Issue2 
#### Define
选择所有非描述且拼写错误的列标题 (ApplicationP、AboutC、RequiredQual、JobRequirment) 并替换为完整单词 (ApplicationProcedure、AboutCompany、RequiredQualifications、JobRequirement)

#### Code

In [87]:
postings.rename(
    columns={
        'ApplicationP': 'ApplicationProcedure',
        'AboutC': 'AboutCompany',
        'RequiredQual': 'RequiredQualifications',
        'JobRequirment': 'JobRequirement'
    },
    inplace=True)

#### Test

In [88]:
postings.head()

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,Location,JobDescription,JobRequirement,RequiredQualifications,Salary,ApplicationProcedure,OpeningDate,Deadline,Notes,AboutCompany,Attach,Year,Month,IT
0,AMERIA Investment Consulting Company\r\nJOB TI...,"Jan 5, 2004",Chief Financial Officer,AMERIA Investment Consulting Company,NaN,NaN,NaN,NaN,NaN,NaN,"Yerevan, Armenia",AMERIA Investment Consulting Company is seekin...,- Supervises financial management and administ...,"To perform this job successfully, an\r\nindivi...",NaN,"To apply for this position, please submit a\r\...",NaN,26 January 2004,NaN,NaN,NaN,2004,1,False
1,International Research & Exchanges Board (IREX...,"Jan 7, 2004",Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),NaN,NaN,NaN,NaN,NaN,3 months,"IREX Armenia Main Office; Yerevan, Armenia \r\...",NaN,NaN,- Bachelor's Degree; Master's is preferred;\r\...,NaN,Please submit a cover letter and resume to:\r\...,NaN,12 January 2004,NaN,The International Research & Exchanges Board (...,NaN,2004,1,False
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,"Jan 7, 2004",Country Coordinator,Caucasus Environmental NGO Network (CENN),NaN,NaN,NaN,NaN,NaN,Renewable annual contract\r\nPOSITION,"Yerevan, Armenia",Public outreach and strengthening of a growing...,- Working with the Country Director to provide...,"- Degree in environmentally related field, or ...",NaN,Please send resume or CV toursula.kazarian@......,NaN,20 January 2004\r\nSTART DATE: February 2004,NaN,The Caucasus Environmental NGO Network is a\r\...,NaN,2004,1,False
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,"Jan 7, 2004",BCC Specialist,Manoff Group,NaN,NaN,NaN,NaN,NaN,NaN,"Manila, Philippines",The LEAD (Local Enhancement and Development fo...,- Identify gaps in knowledge and overseeing in...,"- Advanced degree in public health, social sci...",NaN,Please send cover letter and resume to Amy\r\n...,NaN,23 January 2004\r\nSTART DATE: Immediate,NaN,NaN,NaN,2004,1,False
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,"Jan 10, 2004",Software Developer,Yerevan Brandy Company,NaN,NaN,NaN,NaN,NaN,NaN,"Yerevan, Armenia",NaN,- Rendering technical assistance to Database M...,- University degree; economical background is ...,NaN,Successful candidates should submit\r\n- CV; \...,NaN,"20 January 2004, 18:00",NaN,NaN,NaN,2004,1,True

In [90]:
postings.columns.tolist()

['jobpost',
 'date',
 'Title',
 'Company',
 'AnnouncementCode',
 'Term',
 'Eligibility',
 'Audience',
 'StartDate',
 'Duration',
 'Location',
 'JobDescription',
 'JobRequirement',
 'RequiredQualifications',
 'Salary',
 'ApplicationProcedure',
 'OpeningDate',
 'Deadline',
 'Notes',
 'AboutCompany',
 'Attach',
 'Year',
 'Month',
 'IT']

### Issue3